/* colors: */
/*************** GENERAL ********************/
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cairo/cairo-v4-latin-ext_latin_arabic-regular.eot'); /* IE9 Compat Modes */
    src: local('Cairo'), local('Cairo-Regular'),
    url('../fonts/cairo/cairo-v4-latin-ext_latin_arabic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/cairo/cairo-v4-latin-ext_latin_arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/cairo/cairo-v4-latin-ext_latin_arabic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/cairo/cairo-v4-latin-ext_latin_arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/cairo/cairo-v4-latin-ext_latin_arabic-regular.svg#Cairo') format('svg'); /* Legacy iOS */
}

html {
    scroll-behavior: smooth; /* Scroll Smoothly */
    /* overflow-x: hidden; */
    max-width: 100vw;
}

body{font-family: 'Cairo', sans-serif;}
*{margin: 0;padding: 0;}
html, body{height:100%;}
html, body, .main-wrapper{width: 100%;max-width: 100%;}
body, .main-wrapper{overflow-x: hidden;}
.main-wrapper{position: relative; min-height: 100%;}

::-webkit-scrollbar {width: 10px;}

.d-none{display: none;}
.text-ltr{direction: ltr;display: inline-block;font-family: 'Arial', sans-serif;}

/* REPEATED */
a,
.btn:before{
    transition: all 0.5s ease;
}

/* GENERAL */
a:hover, .btn-link:hover{text-decoration: none;}

.btn{position: relative;border-width: 0;}
.btn:before{content: '';height:0;width:100%;display: block;position: absolute;left:0;right:0;top:0;background: rgba(0,0,0,0.1);}
.btn:hover:before{height: 100%;}

.btn-bordered{border-radius: 50px;padding-right:1.4rem;padding-left:1.4rem;}

.border-radius-0{border-radius: 0;}
.border-radius-10{border-radius: 10px;}

.font-lg{    font-size: 1.4rem;}
.font-md{    font-size: 1.2rem;}
.font-sm{    font-size: .9rem;}


.page-pad{padding: 40px 0;}
.user-icon{width: 100px;height:100px;border-radius: 50%;}

/* LOADER */
.page-wrapper{ 
    /* display: none;  */
    visibility: hidden;
}
#loader{
    position: fixed;top:0;right:0;left:0;width:100vw;height:100vh;display:flex;align-items: center;justify-content: center;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 280px;
    height: 280px;
  }
  .lds-ripple div {
    position: absolute;
    border: 10px solid #097bd8;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 136px;
      left: 136px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 272px;
      height: 272px;
      opacity: 0;
    }
  }

/*SVG*/
.loader-svg{position: absolute;
    top:50%;left:50%;transform:translate(-50%, -50%);width:100%;height:350px;
}
.loader-svg text {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    transform: translate(-20%, 17%);
    /* fill: rgba(255, 255,255,0.1); */
    stroke-width: 3px;
    /* stroke: #097bd8; */
    stroke-linejoin: round;
    stroke-dasharray: 80;
    animation: dash 5s linear infinite;
}
@keyframes dash {
    to {
        stroke-dashoffset: 300;
    }
}


/* HEADER */
#main-header{max-width:100vw;position:fixed;top:0;left:0;right:0;width:100%;z-index: 10009;}
.navbar-brand img{height:65px;}

.navbar, .navbar-brand img{transition: all 0.5s ease;}

/* .brand-colored{display: none;} */

.header-fixed{box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.header-fixed .navbar-brand img {height: 50px;}
/* .header-fixed .brand-colored{display: inline-block;} */
/* .header-fixed .brand-white{display: none;} */
.header-fixed .navbar{padding-top:0;padding-bottom:0;}

/* NavBar */
.navbar-dark .navbar-nav .nav-link {
    font-weight: bold;
}

.navbar-nav{clear: both;text-transform: capitalize;}
#navbar-toggler-lnk{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;}
#navbar-toggler-lnk span{display: block;
    background: #fff;
    height: 3px;
    width: 35px;
    margin-bottom: 5px;
    border-radius: 21px;transition: all 1s ease;}
#navbar-toggler-lnk span:nth-child(2){width: 20px;}
#navbar-toggler-lnk span:nth-child(3){width: 10px;}
#navbar-toggler-lnk:hover span:nth-child(2), #navbar-toggler-lnk:hover span:nth-child(3){width: 35px;}
#navbar-toggler-lnk span:last-child{margin: 0;}

#navbar-toggler-lnk, #navbar-close-lnk{display:none;padding: 5px 12px;font-size: 13px}
#navbar-toggler-lnk{padding:0;font-size: 1.5rem;}

#navbar-close-lnk {color: rgba(255, 255, 255, 0.85);font-size: 35px;float: right;}
.rtl #navbar-close-lnk {float: left;}

/* Lang */
.lang-lnk{border-left: 1px solid;padding-left: .9rem;}
.lang-lnk a{color: #fff;font-weight: bold;}
.lang-lnk a:hover {
    color: rgba(255,255,255,.75);
}

/* Headings */
.heading-blk{text-transform: capitalize;}
.heading-tit{font-size: 2.2rem;position: relative;display:inline-block;font-weight: bold;}
.heading-tit:before{content:'';position:absolute;right:0;top:0;width:100px;height:100%;display:block;z-index: 1;max-height:42px;}
.heading-tit span{position: relative;display: block;z-index: 10;}
.heading-subtit{font-size: 1.4rem;}

/* Page Title */
/* #pg-tit{display: flex;align-items: center;justify-content: center;padding-top:91px;} */
.pg-tit-wrapper{width:100%;min-height: 100vh;
    padding-top: 91px;
    display: flex;
    align-items: center;
    justify-content: center;position: relative;}
.pg-tit-wrapper.no-overlay:before{display:none;}
.pg-tit-wrapper:before{
    content:'';width:100%;height:100%;position:absolute;top:0;left:0;right:0;background: rgba(0,0,0,0.75);
}
#pg-tit h1{position:relative;text-transform: capitalize;font-size:2.8rem;font-weight: bold;}
#pg-tit p{position:relative;font-size:1.3rem;font-weight: bold;max-width:550px;}
.proj-pg-tit{display: flex;align-items:center;position: relative;}
.proj-main-img{width:300px;flex: 0 0 300px;}


/******************** MY VERTICAL SLIDER ********************/
.main-slider-wrapper{position: relative;}
#main-slider{position: relative;height:100vh;overflow: hidden;}

#scene{opacity: 0.8;}
.canvas-img{display: none;}

.slide::before{content:'';position:absolute;top:0;left:0;right:0;width:100%;height:100%;background: rgba(0,0,0,0.8);z-index: 10;}

.slide{transition:all 0.5s ease;height:100vh;width:100vw;position: absolute;bottom:-100%;left:0;right:0;}
.slide:first-child{bottom: 0;}
.slide-inner{margin-top:90px;width:100%;height:calc(100% - 90px );display:flex;align-items:center;z-index: 100;position: relative;}
.nav-slider-container{position: absolute;right:0;left:0;bottom:0;z-index: 1009;width:100%;}
.nav-slider{display: flex;flex-direction: column;margin-bottom: 0;}
.nav-slider a{max-width: 55px;display: flex;justify-content: flex-end;align-items: center;margin-bottom:10px;color:#fff!important;font-weight:bold;cursor:pointer;}
.nav-slider a span{margin: 0 5px;display:block;font-size: 0.9rem;letter-spacing: 1px;}
.nav-slider a::before{content: "";width:20px;border-radius: 10px;height:2px;
    /* background: #097bd8; */
    display:block;
}
.nav-slider a::after{content: "";width:10px;height:10px;margin:0 10px;border-radius: 50%;background: transparent;border:2px solid #fff;display:block;}

.nav-slider a span, .nav-slider a::before, .nav-slider a.active::after{display:none;}
.nav-slider a.active span, .nav-slider a.active::before, .nav-slider a::after{display:block;}

.slide-caption{max-width: 550px;width:100%;}

.slide-tit{text-transform: capitalize;margin-bottom:1rem;padding-bottom: 1rem;border-bottom: 1px solid;}
.slide-txt{font-size: 1.2rem;text-align:justify;}

.slide-tit, .slide-txt{opacity:0.2;transition:all 1s ease;}
.slide-tit{transform:translateY(25px);}
.slide-txt{transform:translateY(-25px);}
.slide.slide-active .slide-tit, .slide.slide-active .slide-txt{transform:translateY(0px);opacity:1;}

#scrollToBody{color:#fff;padding-left: 34px;margin-bottom:10px;display:inline-block;text-transform: capitalize;font-weight:bold;}
#scrollToBody i, #scrollToBody img{margin-right:10px;width:12px;}


/******************** My Horizontal Slider ********************/
#services-slider .owl-stage{display:flex;}
#services-slider .owl-item{height:inherit;}
#services-slider .item,
#services-slider .horz-slide
{height:100%;}
.horz-slide .row{align-items: center;height: 100%;}

.cap-tit, .cap-txt{text-transform: capitalize;}
.cap-tit{font-size: 4rem;font-weight:bold;}
.cap-txt{font-size: 1.5rem;margin-bottom: 0;}

.horz-slide{transition: opacity 2s ease;}
.horz-slide .cap-tit, 
.horz-slide .cap-txt, 
.horz-slide .horz-slide-img,
.mocks-mob img,
.mocks-none img{transition: all 1s ease;}

.horz-slide{opacity: 0;overflow:hidden;}
.active .horz-slide{opacity: 1;}
.horz-slide .horz-slide-img{transform:translateX(25px);}
.horz-slide .cap-tit{transform:translateY(-25px);}
.horz-slide .cap-txt{transform:translateY(25px);}
.active .horz-slide .horz-slide-img{transform:translateX(0);}
.active .horz-slide .cap-tit{transform:translateY(0);}
.active .horz-slide .cap-txt{transform:translateY(0);}
.active .horz-slide .mocks-mob img{margin: 0 -80px;}

#horz-slider{overflow: hidden;}
.horz-slides-wrapper{display:flex;position: relative;left:0;}
.horz-slides-wrapper > div{width: 100%;flex: 0 0 100%;}

.mocks-web{text-align: center;position: absolute;top: 10px;left: 0;right: 0;height: 88%;overflow: hidden;border-radius: 10px;}
.mocks-web img{position: absolute;left:10%;top:0;overflow: hidden;width: 80%;margin: 0 auto;border-radius: 10px;}
.mocks-web img:nth-child(3) {animation: xfade 16s 4s infinite;}
.mocks-web img:nth-child(2) {animation: xfade 16s 8s infinite;}
.mocks-web img:first-child {animation: xfade 16s 12s infinite;}
@keyframes xfade{
    17% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    92% {
        opacity:0;
    }
}

.mocks-mob{display:flex; }
.mocks-mob img{width: 60%;
    height: 400px;
    flex: 0 0 60%;/* transform: skew(0deg, 30deg); */
    margin: 0 -60px;position: relative;
    object-fit: cover;
    object-position: top;
    clip-path: polygon(38% 13%, 90% 1%, 90% 100%, 38% 79%);    
}
.mocks-mob img:first-child{z-index: 100;}
.mocks-mob img:nth-child(2){z-index: 10;}
.mocks-mob img:last-child{z-index: 1;}

.mocks-none{padding:30px 0;
    display: flex;justify-content: space-between;flex-wrap: wrap;
    align-items: center;
}
.mocks-none img:first-child,
.mocks-none img:nth-child(2),
.mocks-none img:nth-child(3){
    transform: translateY(0px);flex: 0 0 30%;width:30%;
}
.active .mocks-none img:first-child{transform: translateY(-30px);}
.active .mocks-none img:nth-child(2){transform: translateY(30px);}
.active .mocks-none img:nth-child(3){transform: translateY(-30px);}

.horz-slider-controls{font-size:1.3rem;}
.horz-slider-controls a{cursor: pointer;}
.horz-slider-controls a.disabled{pointer-events: none;cursor: auto;}
.horz-slide-num{display: inline-block;margin: 0 10px;letter-spacing: 6px;}

.horz-slide-tit{display: flex;align-items: center;text-transform: capitalize;}
.horz-slide-tit:before{content: "";margin-right: 7px;width: 20px;border-radius: 10px;height: 3px;
    /* background: #097bd8; */
    display: inline-block;
}

#services-slider .owl-nav{font-size:1.3rem;}

/* Services Blk */
.service-item .service-img, .service-item .service-tit{transition: all 1.5s ease;}
#services-blks .row > div:nth-child(odd) .service-item .service-img{
    opacity: 0;
}
#services-blks .row > div:nth-child(odd) .service-item:hover .service-img{
    opacity: 1;
}
#services-blks .row > div:nth-child(odd) .service-item:hover .service-tit{
    opacity: 0;
}
#services-blks .row > div:nth-child(even) .service-item .service-tit{
    opacity: 0;
}
#services-blks .row > div:nth-child(even) .service-item:hover .service-tit{
    opacity: 1;
}
#services-blks .row > div:nth-child(even) .service-item:hover .service-img{
    opacity: 0;
}
.service-item{position: relative;text-transform: capitalize;}
.service-tit{position: absolute;top:0;left:0;right:0;width:100%;height:100%;font-size:2.3rem;font-weight:bold;display:flex;align-items: center;justify-content: center;flex-direction: column;}
.service-tit:after{content:'';width:60%;height:5px;border-radius: 10px;margin-top:5px;display:block;}
.service-item, .service-img{height:100%;}
.service-img img{object-fit: cover;min-height: 100%;}

/* Counters */
.counters-first-blk{position: relative;padding: 20px 0;}
.counters-container{padding:0 15px;position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;align-items: flex-end;}
.count-item{text-transform: capitalize;}
.counters-container .count-item:last-child{position: relative;bottom: 74px;}
.count-item span{font-size: 4rem;font-weight: bold;}
.counter-img{width: 80%;}
.counter-descs{max-width: 440px;margin: 0 auto;}
.counter-desc-item span{text-shadow: none;}
.counter-desc-item{transition: all 1s ease;
    font-size: 4.8rem;
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* Moving Team */
#makeMeScrollable, #makeMeScrollable img{height: 450px;}
#makeMeScrollable {width:100%;margin: 0 auto;position: relative;}
#makeMeScrollable div.scrollableArea img
{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.rtl #makeMeScrollable div.scrollableArea img{float: right;}

/* Partners */
.partners-wrapper{max-width: 600px;width:100%;margin:0 auto;display: flex;justify-content: center;align-items: center;flex-wrap: wrap;}
.partner-item{height:50px;}
.partner-item img{height:100%;width:auto;}


/* Footer */
#main-footer{text-transform: capitalize;}
#main-footer h4{font-weight:bold;}
#main-footer #footer-wrap > .container{background: url(../images/footer.png) no-repeat 50% 50%;}
.footer-nav a {margin-bottom: .5rem;display: inline-block;}
.footer-logo{width: 120px;margin:0 auto;}
.footer-nav a {margin-bottom: .5rem;display: inline-block;}
.footer-social{text-align: center;}
.footer-social a{display:inline-flex;justify-content: center;align-items: center;width: 30px;height:30px;border-radius: 50%;margin: 20px 2px 0;}
.footer-contact-info .btn{border-radius: 50px;padding: 0 1rem;margin-bottom: 10px;}
.footer-contact-info address{display: flex;margin-bottom:5px;}
.footer-contact-info address i{padding-top: 5px;font-size: 20px;margin-right: 10px;}


/* Other */
#services-slider, 
#counters-blk, 
#team-blk, 
#pg-tit, 
#contact-pg{
    min-height: 100vh;
}

/* Servies Page */
/* #services-pg .row{align-items: center;} */

.service-desc{min-height:100%;padding: 20px 30px;display: flex;flex-direction: column;justify-content: center;}
.service-desc h3{margin-bottom: 1.5rem;font-weight: bold;text-transform: capitalize;}
.service-desc p{margin: 0;text-align: justify;}
.service-bg{height: 100%;}
.service-bg img{min-height: 100%;object-fit: cover;}

#services-pg .row:nth-child(even){flex-direction:row-reverse;}

/* Contact Page */
#contact-pg{padding-top:130px;padding-bottom: 80px;}
.contact-pg-inner{width: 100%;max-width:700px;margin:0 auto;padding: 30px;box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.contact-form .btn{padding: .3rem 3rem;border-radius: 50px;font-weight: bold;text-transform: capitalize;font-size: 1.1rem;}
.contact-info{margin:30px 0 -10px;display:flex;flex-wrap:wrap;justify-content: space-between;}
.contact-info > div{flex: 0 0 30%;width:30%;display:flex;text-transform: capitalize;}
.contact-info-icon{
    width: 20px;
    height: 20px;font-size:.7rem;
    background: #fff;
    border-radius: 50%;
    flex: 0 0 auto;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-info-info{font-size:.8rem;margin-bottom:10px;}

.contact-tit {position:relative;font-weight: bold;text-transform: capitalize;overflow: hidden;}
.contact-tit p{margin-left: 10px;display:inline-block;position: absolute;top:-100%;opacity:0;transition: all 0.5s ease;}
.contact-tit p.active{top:0;opacity: 1;}

/* About Page */
.about-desc-blk{position: relative;}
.about-desc-blk:before{
    content: '';
    width: 55%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 5rem;
    display: block;
    background: url(../images/about-logo-transparent.png) no-repeat top right;
    background-size: auto 23%;}
.about-desc-blk .row > div:first-child{border-right: 1px solid #c8d1d5;position:relative;}

.about-desc-blk .row > div:first-child:before{
    content:'';width:1px;height:60%;position: absolute;top:20%;right:-1px;display:block;
}
.about-desc-blk .row > div:first-child:after{
    content:'';width:100%;height:50%;position: absolute;top:30%;right:0;
    display:block;
    background: url(../images/about-hw.png) no-repeat top right;background-size: contain;
}

.about-desc-logo img{
    height:90px;width:auto;max-width:100%;margin-bottom:40px;
}
.follow-item{margin-bottom: .5rem;}
.follow-item i{margin-right: 10px;min-width:18px;font-size:1.1rem;}
.roqay-gallery .card-columns {-webkit-column-count: 4;-moz-column-count: 4;column-count: 4;}
.roqay-gallery .card-columns .card{border: 0;overflow:hidden;}
.roqay-gallery .card-columns .card img{transition: all 2s ease;}
.roqay-gallery .card-columns .card:hover img{transform: scale(1.1) rotate(3deg);}

.about-team-blk{background: url(../images/about-team-bg.png) no-repeat 50% 0;background-size: cover;}
.team-membs-container .row, .team-membs-container .row > div{padding: 0;margin:0;}

.team-member-item, .team-memb-tit{transition: all 1s ease;}
.team-member-item{position: relative;overflow: hidden;}
.team-memb-tit{position: absolute;top: 100%;left: 0;right: 0;width: 100%;height: 100%;display: flex;flex-direction: column;align-items: center;justify-content: flex-end;}
.team-memb-n, .team-memb-p{margin:0;text-transform: capitalize;}
.team-memb-n{font-weight:bold;font-size:1.15rem;}
.team-memb-p{position: relative;bottom: 5px;font-size: .8rem;}
.team-category-item{height: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;text-transform: capitalize;}

.team-member-item, .tit-toggle-team{cursor: pointer;}

.about-logo-team{transition: transform 1s ease;}
.team-membs-container{display: none;}

.team-member-item.active{transform: scale(1.3);z-index: 10;box-shadow: 0 0 10px rgba(0,0,0,0.3);}
.team-member-item.active .team-memb-tit{top: 0;}

/* Careers */
.careers-form-container{width:calc(100% - 100px);}
.careers-form{background: #fff;box-shadow: 0 0 10px rgba(0,0,0,0.3);padding: 30px;}
.careers-form form{margin-bottom: -1rem;}

#careers-pg{position: relative;}
.careers-blk-inner{height: 100%;}

#careers-pg, .careers-blk{transition: all 2.5s ease;}


.careers-toggler-wrapper{cursor:pointer;position: absolute;top: 0;left: 0;width: 100px;height: 100%;display: flex;align-items: center;justify-content: center;box-shadow:0 5px 10px rgba(0,0,0,0.3);}
.careers-toggler{position: relative;left: -5px;transform: rotate(-90deg);color: #fff;width: auto;height: auto;text-transform:capitalize;white-space: nowrap;}
.careers-toggler-arrow{    transform: rotate(90deg);font-size: 1.8rem;line-height: 0;}
.careers-toggler p{line-height: 15px;}

.careers-blk{position: absolute;top: 0;left: calc(100% - 100px);width: 100px;height: 100%;overflow: hidden;}
.careers-blk.active{left:0;width:100%;}


.careers-container{margin-left: 100px;margin-right: 10px;display: flex;flex-direction: column;flex-wrap: wrap;align-items:center;justify-content: center;overflow-x:auto;height: 100%;}
.careers-container::-webkit-scrollbar{height:5px;}
.career-item{width: 350px;margin: 0 10px;margin-bottom: 10px;padding: 15px;background: #fff;box-shadow: 0 0 10px rgba(0,0,0,0.1);}

.career-tit, .career-exp{font-weight: bold;}
.career-tit, .career-desc, .career-exp{margin:0;}

.career-exp:after{content:'';margin:5px 0 7px;display: block;width:100px;height:2px;}
.career-desc{text-align:justify;}

/* Projects */
.project-controls a{border-radius: 20px;padding: .2rem 2rem;text-transform: capitalize;font-weight: bold;}
.project-controls a img{width: 15px;margin-right: 8px;position: relative;bottom: 2px;}

.project-item{max-width: 350px;margin: 0 auto;}
.project-item:hover .project-img img{padding: 0;}
.project-img img{width:100%;padding:10px;transition: all 1s ease;}
.project-dets{margin-top: 10px;text-transform: capitalize;}
.project-n{margin-bottom:5px;font-weight: bold;}
.project-t{margin-bottom:10px;font-size: 1.1rem;}
.project-lnk{text-transform: uppercase;font-weight: 700;display: inline-block;font-size:1.15rem;}
.project-lnk:after{content:'';width:70px;height:2px;display:block;transition: all 2.5s ease;}
.project-lnk:hover:after{width: 100%;}

#projects-pg .nav-pills{justify-content: center;}
#projects-pg .nav-pills .nav-link{text-transform: capitalize;font-weight: bold;font-size: 1.1rem;border-radius: 50px;padding: .4rem 1.5rem;}

/* Project Single */
#project-carousel.mob-carousel .owl-item.active.center{padding: 10px;}

#project-carousel.mob-carousel .owl-item.active.center .item{margin: 10px;padding: 10px;position: relative;top: 10px;}
#project-carousel.mob-carousel .owl-item.active.center .item:before{
    content: '';
    display: block;
    
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    background: url(../images/project-single/mob-mock.png) no-repeat;border-radius: 35px;background-size: 100% 100%;    
}
#project-carousel.mob-carousel .owl-item.active.center .item img{position: relative;box-shadow: none;}
#project-carousel.mob-carousel .owl-item .item{padding:80px 40px 0 40px;}
#project-carousel.mob-carousel .owl-item img{border-radius: 20px;box-shadow: 0 0 25px rgba(0,0,0,0.1);width:100%;}

#project-carousel.web-carousel.owl-carousel .owl-item img {
    height: 400px;
    width: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 5px solid #fff;
    margin: 10px;
}

/* Dots */
#project-carousel.owl-carousel .owl-dots{margin-top: 40px;display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}
#project-carousel.owl-carousel button.owl-dot{margin: 10px 3px;background: #fff;border:1px solid;width:15px;height:15px;border-radius:50%;display:block;}

/* Forms */
.form-trans .form-control{
    background: transparent;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgba(255, 255, 255, 0.5);color:#fff;
}
.form-trans .form-control::placeholder{color: #fff;}

.input-upload label{color: #6c757d;}
.input-upload input{display: none;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
textarea.form-control{resize:none;height:100px;}

/* Owl */
/* f104 */
.owl-prev:before{content: '\f104';}
.owl-next:before{content: '\f105';}
.owl-prev:before, .owl-next:before{
    font-family: 'Font Awesome 5 Free';font-weight:900;
}
.owl-prev span, .owl-next span{display:none}


/*************** RESPONSIVE ********************/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    
    /* Footer */
    .footer-first-blk{margin-bottom: 20px;}
    /* .footer-logo{margin: 0;}
    .footer-social {text-align: inherit;} */
    .footer-nav{display: flex;justify-content: space-between;flex-wrap: wrap;}
    .footer-nav li{padding: 0 5px;}
    
    /* Contact Page */
    .contact-tit{font-size:1.7rem;}
    .contact-info{flex-direction: column;}

    /* About Page */
    .roqay-gallery .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    /* Careers Page */
    .careers-form-container{width: 100%;margin-top: 85px;}
    .careers-blk{left: 0;
        width: 100%!important;
        height: 100px;}
    .careers-toggler-wrapper{width: 100%;
            height: 100px;}
    .careers-toggler{transform: rotate(0deg);display: flex;
        flex-direction: column-reverse;}
    .careers-toggler-arrow {
        transform: rotate(-90deg);}
    
    .careers-blk.active {
        left: 0;
        height: 100%;
    }
    .careers-container {
        margin-left: 10px!important;
        margin-right: 10px!important;padding-top: 75px;}

    /* Project Single */
    #project-carousel.mob-carousel .owl-item .item{max-width: 200px;margin-left: auto!important;margin-right: auto!important;}
    .project-controls a {display: inline-block;margin-bottom: 5px;}
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /* About Page */
    .roqay-gallery .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media (max-width: 767.98px) {
    /* Main Slider */
    .slide-tit{font-size: 1.4rem;}
    .slide-txt {font-size: 1rem;}
    /* Services Slider */
    .cap-tit{font-size: 2.3rem;}
    .cap-txt{font-size: 1.15rem;margin-bottom: 10px;}
    .horz-slide .horz-slide-img .mocks-mob {max-width: 300px;margin: 0 auto;}
    /* Services Blk */
    /* Services Blk */
    .service-tit{font-size:1.2rem;text-align: center;}
    .service-img img {max-height: 300px;}
    #services-blks .row > div:nth-child(1){order: 1;}
    #services-blks .row > div:nth-child(2){order: 2;}
    #services-blks .row > div:nth-child(3){order: 4;}
    #services-blks .row > div:nth-child(4){order: 3;}
    #services-blks .row > div:nth-child(5){order: 5;}
    #services-blks .row > div:nth-child(6){order: 6;}
    /* Counters Blk */
    .counter-descs{text-align:center;}
    .counter-desc-item{font-size:2.5rem;}
    .counters-first-blk{max-width: 300px;margin: 0 auto;}
    .count-item{font-size:1.1rem;}
    .count-item span {font-size: 2.2rem;}
    .counters-container{top:10px;}
    .counters-container .count-item:last-child{bottom: 62px;}
    /* Footer */
    .footer-center-blk{margin-bottom: 20px;}
    #footer-wrap .container{padding-top: .5rem!important;padding-bottom: 0!important;}

    /* About Us Page */
    .about-desc-blk:before{width:100%;    background-size: 100% auto;}
    .about-desc-blk .row > div:first-child {
        border-bottom: 1px solid #c8d1d5;
        border-right: 0!important;
        border-left: 0!important;
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
    .about-desc-blk .row > div:first-child:before {
        width: 60%;
        height: 1px;
        top: auto;
        right: 20%;
        bottom: -1px;
        display: block;
    }
    /* Projects */
    .projects-row{margin-bottom: -30px;}
    .project-item{margin-bottom: 30px;}
    /* Project Single */
    .proj-pg-tit{flex-direction: column;padding-bottom: 30px;}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /* START Expanded Nav-Bar START */
    /*.navbar-expand-lg {-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: column;flex-flow: row;-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start;}*/
    /*.navbar-expand-lg .navbar-toggler {display: none;}*/
    /*.navbar-expand-lg .navbar-collapse {display: -webkit-box!important;display: -ms-flexbox!important;display: flex!important;-ms-flex-preferred-size: auto;flex-basis: auto;}*/
    /*.navbar-expand-lg .navbar-nav {-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;}*/
    /* END Expanded Nav-Bar END */

    /* Counters Blk */
    .counter-desc-item{font-size:3rem;}
    .counter-desc-item{max-width: 275px;}

    
}


@media (max-width: 991.98px) {
    /* Heade */
    .header-logo-container{padding-right:60px;width: 100%;flex-direction: row-reverse;justify-content: space-between;}
    .lang-lnk{position: absolute;right: 0;}
        
    .navbar-collapse{flex-grow: 1;}
    #navbar-toggler-lnk{display: flex;}
    #navbar-close-lnk{display:block;}
    .navbar-collapse{display: none;position: fixed;top: 0;left:0;right:0;height: 100%;width:100%;background: #070f10;padding: 10px 20px;margin: 0!important;z-index: 1009;overflow-y: auto;box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);}
    .navbar-nav{text-align: center;}
    .navbar-collapse .nav-link{margin-bottom: 40px;transition: all 2s ease;}
    .active-nav .nav-link{margin-bottom: 0px;}
    .navbar-dark .navbar-nav .nav-link {font-size: 1.4rem;}
    .navbar-nav .nav-item.active .nav-link:after{display: none!important;}
    .navbar-nav .nav-item.active .nav-link:before{content:'\f0da';display: inline-block;font-family: "Font Awesome 5 Free";font-weight: 900;margin-right:10px;}
    .rtl .navbar-nav .nav-item.active .nav-link:before{content:'\f0d9';margin-left: 10px;margin-right: 0;}

    /* Main Slider */
    #scene{display:none;}
    .canvas-img{display: block;}

    /* Services Slider */
    .horz-slide .mocks-mob img {margin: 0 -40px;}
    .active .horz-slide .mocks-mob img {margin: 0 -50px;}

    /* Counter */
    .count-item span {font-size: 2.5rem;}

    /* About Us Page */
    .about-desc-logo img{height: auto;width:100%;max-width: 350px;}

}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .9rem;
        padding-left: .9rem;
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Services Slider */
    .active .horz-slide .mocks-mob img {margin: 0 -70px;}
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #services-slider, #counters-blk, #team-blk, #pg-tit, #contact-pg {
        min-height: unset;
    }   
    /* #main-slider{height: auto;} */
}